.navbar-options {

    font-family: 'Clicker Script', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 246, 221);
    box-shadow: 3px 4px 4px rgb(131, 131, 10)
}

.navbar-options>h2 {
    color: rgb(22, 153, 230);

}